__pycache__
cfg/*
weights/*
settings.json
yolov3/runs/
*.pt
coco
coco128
*/data/coco
*/data/coco2017
YOLOv3v4-ModelCompression-MultidatasetTraining-Multibackbone/images
YOLOv3v4-ModelCompression-MultidatasetTraining-Multibackbone/labels
YOLOv3v4-ModelCompression-MultidatasetTraining-Multibackbone/results.json
